<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>15-10-25-A.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>15-10-25-B.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>15-10-25.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>350DCF9C2E9EE7380096FBA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>350DCFA72E9EEE840096FBA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>350DCFB22E9EEF1D0096FBA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>353F23F12E95283600E670F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358D9BAE2E9BFCCD00AEFF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358D9BBA2E9C16E000AEFF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358D9BC52E9C186800AEFF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358D9BD02E9C189000AEFF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358D9BDB2E9C204D00AEFF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358D9BE62E9C27E700AEFF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358D9BF12E9C28A800AEFF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358D9BFF2E9C29E500AEFF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358D9C0A2E9C2AA000AEFF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358D9C172E9C2BD400AEFF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358D9C222E9C2C6700AEFF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358D9C2D2E9C331200AEFF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35B20C472E9BC34D005F4A10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35CCD1EE2E9BC79000660DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35CCD1F92E9BC88500660DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35CCD21E2E9BCA1C00660DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
